 <div class="user-details">
  <h1> Contact Us </h1>
  <div class="header-icons">
    <a aria-label="Contact" target="_blank" href=" https://robotix.typeform.com/to/USirXsoq"><i class="icon fa fa-envelope"></i></a>
    <a aria-label="Facebook" target="_blank" href="https://www.facebook.com/robotixiitkgp/"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
    <a aria-label="Twitter" target="_blank" href="https://twitter.com/robotixiitkgp"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
    <a aria-label="Instagram" target="_blank" href="https://www.instagram.com/robotix_iitkgp/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
  </div>
</div>
