<div class="user-details">
  <h1> Contact Us </h1>
  <div class="header-icons">
    <a aria-label="Contact" target="_blank" href="https://contact.robotix.in/"><i class="icon fa fa-envelope"></i></a>
    <a aria-label="Facebook" target="_blank" href="https://www.facebook.com/robotixiitkgp/"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
    <a aria-label="Twitter" target="_blank" href="https://twitter.com/robotixiitkgp"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
    <a aria-label="Github" target="_blank" href="https://github.com/robotix"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
  </div>
</div>