<div id="particles-js">
  <div class="header">
      <h1>
        <img src="/assets/img/gearHiRes.png" width="30%">
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        <!-- <a class="link" href="#projects" data-scroll>Projects</a> -->
        <a class="link" href="#contact" data-scroll>Contact</a>
      </div>
      <div class="site-description">
        <a class="link" href="#submit" style="text-decoration: none;color: white; text-shadow: white " data-scroll>Have an idea?</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
