        <div class="user-details">
  <h1> Featured Projects </h1>
  <h2> Plotter</h2>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/idea_1.jpg" />
  </div>
  <div class="contents">

    <p>A plotter is a type of printer used to print vector graphics. We have made a smaller version which is able to print any graphic having size less than 120 * 240 mm. Two stepper motors have been used for movement. Both the axis have independent motion i.e the pen holder and the printing bed can be independently moved. </p>
  </div>
  
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/assets/img/idea_2.jpg" />
  </div>
  <div class="contents-right">
    <br>
    <p> A micro servo motor has been used for lifting the pen up and down. An arduino UNO has been used for the control of these motors.Currently we need to connect a laptop having processing 3 software to execute the g-code. On providing the g-code file, the software sends the instructions to arduino by serial communication and thus the required motion of the stepper motors and servo motor is obtained.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/idea_3.jpg" />
  </div>
  <div class="contents">
    <ul>
      <li> Future Plans</li>
    </ul>
    <p>A raspberry PI will be used to do the g-code processing which in turn will send the instructions to arduino. Moreover IOT will be included as well wherein the gcode file would be directly sent to the Raspberry PI through wifi and the plotter would start printing the file.
</p>
  </div>
  
</div>
      
<div class="user-details">
    <h2> InterIIT TCTD Challenge</h2>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/idea_4.jpg" />
  </div>
  <div class="contents">

    <p>Automation in industries is mostly programmed to carry out a specific work. But the
exponentially growing semiconductor industry has led to the development of economically
viable sensors with pinpoint accuracy combined with the internet gives a whole new dimension
to the world of automation. The direct consequence being machines getting intelligent and very
versatile. Our work here is an attempt to extend this automation quest.</p>
  </div>
  
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/assets/img/idea_5.jpg" />
  </div>
  <div class="contents-right">
    <br>
    <p> Designing and standardizing appropriate tailor-made tools and equipment for women can
reduce or entirely prevent physical fatigue, which is linked to farm work. The same is the case
with farmers working in different countries under the influence of various internal and external
factors. Hence, we brainstormed to designed a bot with the broad objective to equip farmers
technologically for reducing their drudgery during the engagement in agriculture and for
enhancing their productivity. To understand the major problems and develop a solution we dug
more around them.</p>
  </div>
</div>
  
</div>
