<div class="user-details">
  <h1> Featured Projects </h1>
  <h2>Gesture-Controlled Robotic Gripper</h2>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/idea_12.jpg" />
  </div>
  <div class="contents">

    <p> In this project, we designed and constructed a robotic gripper with three degrees of
      freedom, controlled using hand gestures. This robotic gripper finds many applications in
      industrial and automation processes. The robot takes input through visual feed and
      processes it using Computer Vision. This processed data is sent to an Arduino Uno
      microcontroller via serial communication, which in turn controls the servo motors. 
      The entire assembly was modelled, and 3D printed.
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/assets/img/idea_13.jpg" />
  </div>
  <div class="contents-right">
    <br>
    <p> A sophisticated gear mechanism was used to control the claws of the gripper. 
      There is always a scope for improvement of this project. The following are a few
      improvements that can further increase the capabilities of this robot:<br>
      1. Including a feedback loop using sensors or cameras near the gripper to increase
      efficiency.<br>
      2. Using object detection to make the robot completely autonomous.<br><br>
      Those who are interested can have a look at the complete documentation of the project 
      <a href ="https://drive.google.com/file/d/1NNHX8WIotfJrBItvUOvBSZNGlDvJU9Ko/view?usp=sharing"> here</a>.
    </p>
  </div>
</div>

<div class="user-details">
  <h2>IOT Based Patient Surveillance System</h2>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/idea_18.jpeg" />
  </div>
  <div class="contents">

    <p> This project aims to make monitoring of patients in a hospital less dependent 
      on human intervention by adding sensors which can check the patient’s vitals and 
      store them in a database. The surveillance system will be quite practical in the medical field. 
      Automatic storage of patient’s vitals will reduce the paperwork and manual burden. The doctors 
      can check in on the patients any time without visiting them, and this might be crucial for patients 
      in critical condition. To set up this project we connected ECG Sensor, SpO2 sensor and temperature sensor 
      to an Arduino and sent the data retrieved by the sensors to an online database. 
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/assets/img/idea_19.jpg" />
  </div>
  <div class="contents-right">
    <br>
    <p> The webpage connected to the database displayed the real time data, and an alarm system 
      using a buzzer connected to the Arduino setup. The buzzer rang when the measured data went 
      beyond normal range. Further developments in this project include increasing the number of sensors 
      and developing an app to display the real time data and send notifications.
    </p>
  </div>
</div>

<div class="user-details">
  <h2>Omnidirectional Bot</h2>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/idea_16.jpeg" />
  </div>
  <div class="contents">

    <p> The aim of this project is to assemble and program a motion controlled omni-directional bot. 
      Omni-directional robots are capable of driving in any direction in a 2D plane without the need for 
      a steering mechanism. It’s application lies in tight workspaces like factories and hospitals. 
      Our model is a made using omni-wheels capable of moving in eight directions, rotation about its axis 
      and following a target using Computer Vision while maintaining camera orientation at all times. 
      The omni-wheels are controlled by the motors drivers connected to the WiFi module, Raspberry Pi, which 
      is capable of independently processing all the input data independently.
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/assets/img/idea_17.jpeg" />
  </div>
  <div class="contents-right">
    <br>
    <p>  Scope of improvement in our project occurs in the following sections:<br>
        1. Implementation of closed loop PID control to increase accuracy of bot movement<br>
        2. Improving upon movement detection techniques with higher FPS.<br><br>
      Learn more about the project <a href ="https://drive.google.com/drive/folders/1-0I67bqPlFEsKrrb9YbccleHyZcI74eM"> here</a>.
    </p>
  </div>
</div>

<div class="user-details">
  <h2>CV Based Ball-Balancing</h2>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/idea_14.jpg" />
  </div>
  <div class="contents">

    <p> This project was focused on understanding the control systems applications. It basically 
      uses Computer Vision for locating the ball on the platform and then using the feedback mechanism, 
      i.e, PID Controller in our case, automatically generates the tilt of the surface for 
      balancing the ball on the platform. The servo motors are initially at an angle of 90 degrees and they 
      turn by the angles that is given as an output of the PID Controller. All this is integrated on the 
      Arduino UNO Microcontroller. All the communication between Arduino and the Python Code for OpenCV and controller 
      is handled by Pyserial library.
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/assets/img/idea_15.jpg" />
  </div>
  <div class="contents-right">
    <br>
    <p>  In many ways, the project exceeded our expectations by 
      being able to tilt the platform fast enough to balance the ball on it. Later on, we found out 
      that the 4 servo motors were a very high load for Arduino.If this project were to be redone, there 
      would be a few things not done the same way as with most first-time projects; but overall, 
      the project was considered to be a success.<br><br>
      Interested people can have a look at the complete documentation of the project 
      <a href ="https://drive.google.com/file/d/1hPG_EIUyXh63I8hhvSnfY28OY_8VpfeS/view?usp=sharing"> here</a>.
    </p>
  </div>
</div>

<div class="user-details">
  <h2>Motion Capture and Transfer using CV</h2>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/idea_20.png" />
  </div>
  <div class="contents">

    <p> In this project, we have taken the concept of hand and pose detection and used it to control certain actions. 
      To perform these actions games were used as a suitable medium. Some of the games were made by the team members 
      whereas some members used pre-existing games and controlled them. For hand detection the games used were 
      Snakes (made in Pygame), Bubble shooter (pre-existing) and Smashkarts(pre-existing). The team created various 
      different actions using hand detection on the user camera feed and then used 3D geometry to determine poses and 
      then relay action to the game.
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/assets/img/idea_21.png" />
  </div>
  <div class="contents-right">
    <br>
    <p> On the other hand some team members used pose(body) detection for the game control. The games chosen were 
      Red Ball 4(pre-existing) and Subway surfers(pre-existing). In a similar fashion like hand detection the pose 
      detection project detects the pose of the user using video input and then using 3D geometry analysis detects 
      the pose the user is in and then gives input to the game to perform action.<br><br> 
      To get more in-depth information of the project read the 
      <a href="https://drive.google.com/drive/folders/1fieiSf7f5CmRsdlh6AayD-HJYYKLWMTE?usp=sharing"> documentation</a>.
    </p>
  </div>
</div>

<div class="user-details">
  <h2>Quadruped Bot</h2>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/idea_6.jpg" />
  </div>
  <div class="contents">

    <p>A quadruped bot or spider bot is a movable robot that mimics animal walking. 
      The bot made by Makerspace lab has four legs each with two degrees of freedom. 
      Two servos were used to control the hip joint and knee joint. 
      A Raspberry Pi Pico microcontroller has been used to control the servos.</p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/assets/img/idea_7.jpg" />
  </div>
  <div class="contents-right">
    <br>
    <p> The entire chassis has been 3D printed. We programmed the microcontroller through an attached 
        laptop via serial communication. Programmed sequences were created for the bot to get-up,
        move forward and backward, turn left and right. This was achieved after rigorous experimentation
        of various configurations of the servos.</p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/idea_8.jpg" />
  </div>
  <div class="contents">

    <p>A quadruped has a huge advantage over wheeled locomotion. It can adapt to rough and uneven surfaces.
       It can easily navigate over rough terrain, unreachable to humans. </p>
  </div>
</div>



<div class="user-details">
  <h2>Robotic Arm</h2>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/idea_9.jpeg" />
  </div>
  <div class="contents">

    <p>This robotic arm prepared by Makerspace lab has five degrees of freedom. 
      It is made almost entirely of 3D printed parts that snap together, with
      three movable joints, a rotating base, and a gripper. An Arduino Uno microcontroller
      to control the bot while servos were used for the movable joints. 
      The arm is about 20 inches long. The design was optimized to save time during 3d printing,
      through the use of hollow fill.
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/assets/img/idea_11.jpeg" />
  </div>
  <div class="contents-right">
    <br>
    <p>  The lower and middle joints are controlled using standard servos,
       whereas the upper joint and gripper are controlled using micro-servos for higher precision.
       All the servos can be controlled using the microcontroller, one step each, independent of each other.
       This robotic arm can be used for a variety of research purposes that may require high precision 
       or include hazardous environments. Future plans include making the bot self-reliant by using 
       computer vision and increasing the load-bearing capacity by using new gripper mechanisms such as magnetic holders.
    </p>
  </div>
</div>



<div class="user-details">
  <h2> Plotter</h2>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/idea_1.jpg" />
  </div>
  <div class="contents">

    <p>A plotter is a type of printer used to print vector graphics. A smaller version was made capable of printing any graphic having size less than 120 * 240 mm. Two stepper motors have been used for movement. Both the axis have independent motion i.e the pen holder and the printing bed can be independently moved. </p>
  </div>
  
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/assets/img/idea_2.jpg" />
  </div>
  <div class="contents-right">
    <br>
    <p> A micro servo motor has been used for lifting the pen up and down. An arduino UNO has been used for the control of these motors. Currently we need to connect a laptop having processing software to execute the g-code. On providing the g-code file, the software sends the instructions to arduino by serial communication and thus the required motion of the stepper motors and servo motor is obtained.</p>
  </div>
</div>




<div class="user-details">
    <h2> InterIIT TCTD Challenge</h2>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/idea_4.jpg" />
  </div>
  <div class="contents">

    <p>Automation in industries is mostly programmed to carry out a specific work. But the
exponentially growing semiconductor industry has led to the development of economically
viable sensors with pinpoint accuracy combined with the internet gives a whole new dimension
to the world of automation. The direct consequence being machines getting intelligent and very
versatile. Our work here is an attempt to extend this automation quest.</p>
  </div>
  
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/assets/img/idea_5.jpg" />
  </div>
  <div class="contents-right">
    <br>
    <p> Designing and standardizing appropriate tailor-made tools and equipment for women can
reduce or entirely prevent physical fatigue, which is linked to farm work. The same is the case
with farmers working in different countries under the influence of various internal and external
factors. Hence, we brainstormed to designed a bot with the broad objective to equip farmers
technologically for reducing their drudgery during the engagement in agriculture and for
enhancing their productivity. To understand the major problems and develop a solution we dug
more around them.</p>
  </div>
</div>
  
</div>
