<div class="user-details">
    <h1> Rules and regulations </h1>
  <li>Applications can be made through the portal on the homepage. Details about your project and requirements need to be submitted.</li>  
 <br>
 <li>Applications will be evaluated by Technology Robotix Society(TRS)  based on the feasibility and scope of the project. Once approved, one can avail the full benefits of the Makerspace Lab.</li>
 <br>   
 <li>Projects will be reviewed regularly by TRS, through allotted mentors. Projects may be discontinued based on current status and progress.</li>  
 <br> 
 <li>A strict record of inventory used and borrowed is to be maintained. Any item(s) borrowed from the lab must be documented in the Records Book.</li>
 <br>
 <li>Only students of IIT Kharagpur will be allowed to avail the facilities of the Makerspace Lab.</li>  
 <br> 
 <li>The components required for the project will be ordered by TRS for one of the students of the team(*). The other students can work remotely on the project. </li>  
 <br>   
 <li>The project has to be submitted to the Makerspace lab when the IIT Kharagpur campus reopens(*).</li>
 <br>
 * Applicable during online functioning of Makerspace lab
</div>
