<div class="user-details">
    <h1> Rules and regulations </h1>
  <li>Applications can be made through the portal on the homepage. Details about your project and requirements need to be submitted.
 </li>
 <br>
 <li>Applications will be evaluated by TRS based on the feasibility and scope of the project. Once approved, one can avail the full benefits of the Makerspace Lab.
 </li>
 <br>
 <li>At any point in time, not more than two projects will be undertaken in the  Makerspace Lab.
 </li>
 <br>
 <li>Projects will be monitored and reviewed regularly by Team Robotix. Projects may be discontinued based on current status and progress.
 </li>
 <br>
 <li>A strict record of inventory used and borrowed is to be maintained. Any item(s) borrowed from the lab must be documented in the Records Book.
 </li>
 <br>
 <li>Only students of IIT Kharagpur will be allowed to avail the facilities of the Makerspace Lab.
 </li>
 <br>
 <li>Not more than 4 people are to be working on a project at any time.
 </li>
</div>
