@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comforter&family=Dancing+Script&family=Hind+Madurai:wght@300&family=Lato:wght@300&family=Satisfy&family=Varela&family=Yellowtail&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:400");


.carousel {
  position: relative; }
  //Carousel Part
  .owl-carousel {
    position: relative; }
    .owl-carousel .owl-item {
      opacity: 1; }
      .owl-carousel .owl-item.active {
        opacity: 1; }
    .owl-carousel .owl-nav {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: inline-block; }
      .owl-carousel .owl-nav .owl-prev,
      .owl-carousel .owl-nav .owl-next {
        position: absolute;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: 60px;
        color: #F8F0E3 !important;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
        opacity: 1; }
        @media (prefers-reduced-motion: reduce) {
          .owl-carousel .owl-nav .owl-prev,
          .owl-carousel .owl-nav .owl-next {
            -webkit-transition: none;
            -o-transition: none;
            transition: none; } }
        .owl-carousel .owl-nav .owl-prev p span, .owl-carousel .owl-nav .owl-prev p small,
        .owl-carousel .owl-nav .owl-next p span,
        .owl-carousel .owl-nav .owl-next p small {
          display: block;
          color: #000;
          line-height: .8;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          @media (prefers-reduced-motion: reduce) {
            .owl-carousel .owl-nav .owl-prev p span, .owl-carousel .owl-nav .owl-prev p small,
            .owl-carousel .owl-nav .owl-next p span,
            .owl-carousel .owl-nav .owl-next p small {
              -webkit-transition: none;
              -o-transition: none;
              transition: none; } }
        .owl-carousel .owl-nav .owl-prev small,
        .owl-carousel .owl-nav .owl-next small {
          text-transform: uppercase; }
        .owl-carousel .owl-nav .owl-prev span,
        .owl-carousel .owl-nav .owl-next span {
          line-height: 0; }
          .owl-carousel .owl-nav .owl-prev span:before,
          .owl-carousel .owl-nav .owl-next span:before {
            font-size: 40px;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s; }
            @media (prefers-reduced-motion: reduce) {
              .owl-carousel .owl-nav .owl-prev span:before,
              .owl-carousel .owl-nav .owl-next span:before {
                -webkit-transition: none;
                -o-transition: none;
                transition: none; } }
        .owl-carousel .owl-nav .owl-prev:hover small,
        .owl-carousel .owl-nav .owl-next:hover small {
          color: rgba(80,81,85,0.7); }
        .owl-carousel .owl-nav .owl-prev:hover span:before,
        .owl-carousel .owl-nav .owl-next:hover span:before {
          color: rgba(80,81,85,0.7); }
      .owl-carousel .owl-nav .owl-prev {
        left: 50%;
        margin-left: -35px; }
      .owl-carousel .owl-nav .owl-next {
        right: 50%;
        margin-right: -35px; }
    .owl-carousel .owl-dots {
      text-align: center;
      margin-top: 20px; }
      .owl-carousel .owl-dots .owl-dot {
        width: 10px;
        height: 10px;
        margin: 5px;
        border-radius: 50%;
        background: transparent;
        position: relative;
        border: 1px solid #000; }
        .owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
          outline: none !important; }
        .owl-carousel .owl-dots .owl-dot.active {
          background: #2b4162;
          border: 1px solid #2b4162; }
      @media (min-width: 992px) {
        .owl-carousel .owl-dots {
          position: absolute;
          top: 0;
          right: 0;
          margin-top: 0;
          margin-right: -40px; }
          .owl-carousel .owl-dots .owl-dot {
            display: block; } }

  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y; }

  .work-wrap .text, .work-wrap .img {
    width: 50%; }
    @media (max-width: 767.98px) {
      .work-wrap .text, .work-wrap .img {
        width: 100%; } }

  .work-wrap .img {
    height: 500px; }

  .work-wrap .text {
    background: #F8F0E3); }
    .work-wrap .text h2 {
      font-size: 40px;
      font-weight: 800;
      text-transform: uppercase; }
      @media (max-width: 991.98px) {
        .work-wrap .text h2 {
          font-size: 40px; } }
  // Carousel Part Ends

body {
  background-color: #F8F0E3 !important;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #000; }

  .mb-4{
    text-align: right;
  }
  .morebtn{
    background-color: rgba(0,0,0,1) !important;
    color: #F8F0E3 !important;
    border: none;
    border-radius: 10px;
    transition: background 0.5s ease;
  }
  .morebtn:hover{
    color: #000 !important;
    background-color: #F8F0E3 !important;
  }
p{
    float: right !important ;
  }
.ftco-section {
  padding-bottom: 7em; }


.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;}

  a {
      color: var(--dark);
      text-decoration: none;
  }

  .navbar {
      background: #12100e;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right,#12100e, #2b4162);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #12100e, #2b4162); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      box-shadow: var(--box-shadow);
            padding: 0 0 !important;
      padding-top: 0.5rem !important;
      padding-bottom: 0.5rem !important;
  }
  @media (max-width: 768px) {
      .navbar {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
      }
      h1{
        padding-top: 13vmin;
      }
      .py-5{
        padding-top: 2vmin !important;
      }
  }
  .logo {
      width: 100%;
      height: auto;
      max-width: 170px;
  }

  .navbar .nav-link {
    font-family: 'Lato', sans-serif;
      font-size: 20px;
      color: #F8F0E3 !important;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
  }

  .navbar .nav-link:hover {
      color: #888 !important;
  }
  .navbar-dark .navbar-toggler{
    color: #888;
    border-color: #888;
  }

  .btn {
    font-family: 'Lato', sans-serif;
    font-size: 20px !important;
    color: #
      padding: 14px 18px;
      border-width: 2px;
      border-radius: 0;
  }
  .navbar-btn{
    /* background-image: linear-gradient(to right, #006175 0%, #00a950 100%) !important; */
    background-color: #F8F0E3 !important;
    border-color: #F8F0E3 !important;
    color: rgba(0,0,0,0.5);
    border-radius: 10px;
    box-sizing: border-box;
  }
  navbar-btn{
    transition: background 0.5s ease;
  }

  .navbar-btn:hover {
    background: transparent;
  }
  section {
      padding-top: 10vmin;
  }

  *{
  	margin:0;
  	padding:0;
  	box-sizing: border-box;
  }
  .container{
  	max-width: 1300px;
  	margin:auto;
  }
  .row{
    --bs-gutter-x: 0 !important;
  	display: flex;
  	flex-wrap: wrap;
  }
  ul{
  	list-style: none;
  }
  .footer{
  	/* background-color: #ff9f00; */
    background: #12100e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#12100e, #2b4162);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #12100e, #2b4162); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      padding: 50px 0;
  }
  .footer-col{
     width: 33%;
     padding-left: 3vmin;
  }
  .footer-col h4{
    font-family: 'Lato', sans-serif;
  	font-size: 18px;
  	color: #F8F0E3;
  	text-transform: capitalize;
  	margin-bottom: 35px;
  	font-weight: 500;
  	position: relative;
  }
  .footer-col h4::before{
  	content: '';
  	position: absolute;
  	left:0;
  	bottom: -10px;
  	background-color: #e91e63;
  	height: 2px;
  	box-sizing: border-box;
  	width: 50px;
  }
  .footer-col ul li:not(:last-child){
  	margin-bottom: 10px;
  }
  .footer-col ul li a{
      font-family: 'Lato', sans-serif;
  	font-size: 16px;
  	text-transform: capitalize;
  	color: #F8F0E3;
  	text-decoration: none;
  	font-weight: 300;
  	display: block;
  	transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
  	color: #888;
  	padding-left: 8px;
  }
  .footer-col .social-links a{
  	display: inline-block;
  	height: 40px;
  	width: 40px;
  	background-color: rgba(255,255,255,0.2);
  	margin:0 10px 10px 0;
  	text-align: center;
  	line-height: 40px;
  	border-radius: 50%;
  	color: #F8F0E3;
  	transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
  	color: #24262b;
  	background-color: #F8F0E3;
  }

  .conbtn{
    background-color: rgba(255,255,255,0.2) !important;
    color: #F8F0E3 !important;
    border: none;
  }

  .conbtn:hover{
    color: #24262b !important;
  	background-color: #F8F0E3 !important;
  }

  ul{
    padding-left: 0 !important;
  }

  .centered {
    color: #F8F0E3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 2.5vmax;
  }
  /*responsive*/
  @media(min-width: 767px){
    .centering{
      position: relative;
      top: 40%;
      align-items: center;
    }
    .pad{
      padding-top: 10vmin;
    }
    section {
        padding-top: 10vmin;
    }
    .py-5{
      padding-top: 10vmin !important;
    }
  }
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  #loader {
    position: absolute;
    justify-content: center;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
          }
#loader img{
  height: 7rem;
  width: 7rem;
}
